.border {
  border: 3px solid gray !important;
  border-left: 5px;
  border-right: 10px;
}

.full {
  width: 100%;
  height: min-content;
  margin: auto;
  background-color: white;
}
.chat-item {
  margin-right: auto;
  width: 60%;
}
.chat-item-self {
  margin-left: auto;
  width: 60%;
}

.overflow {
  overflow-y: scroll !important;
}

.card-width {
  width: 18rem;
}

.bg-chat {
  background-color: #e6e9ff;
}

.fixed-height-chat-box {
  min-height: 620px !important;
  max-height: 620px !important;
}
